@font-face {
    font-family: 'Cristik';
    src: url('\fonts\Cristik.otf') format('otf'),
         url('\fonts\Cristik.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #0a1817;
    color: white;
    height: 100vh;
    width: auto;
}
.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0;
}

.img1 {
    height: 700px;
    width: 700px;
}

.img2 {
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}

h1 {
    font-family: 'Cristik', sans-serif;
    font-size: 66px;
    margin: 0;
}

.author {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-top: 0;
}

.header {
    font-family: 'Cristik', sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 48px;
}

.t1{
    font-family: 'Cristik', sans-serif;
    font-size: 140px;
    flex: 0, 0 auto;
    text-align: right;
    width: 300px;
    height: 150px;
    min-width: 100px;
    /* font-weight: bold; */
}
.content, .c1, .c2, .c3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    min-width: 300px;
    margin: 0;
}

.content div{
    flex-grow: 1;
    width: 97.8%;
    padding: 20px;
}

.content .intro{
    background-color: #184d55;
    justify-content: center;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.c1{
    background-color: #2d7071;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 20px;
}

.c2{
    background-color: #41848d;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 20px;
}

.c3{
    background-color: #63b3ad;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 20px;
}

.img-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 900px;
    height: 300px;
    min-width: 900px;
    min-height: 700px;
}

img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.slide{
    display: none;
    width: 100%;
}

.slide:first-child {
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev { left: 10px; }
.next { right: 10px; }